# Generated by npm run gpt:schema. Edit lib/gptOpenapi.ts.
openapi: 3.1.0
info:
  title: Fishbowl GPT Content Tools
  version: 4.0.0
  description: Curate, rate and publish articles, and attach generated images.
servers:
  - url: https://creepender.top/api/gpt
security:
  - BearerAuth: []
paths:
  /articles/{id}:
    get:
      operationId: getArticle
      summary: Read editable article by ID extracted from its link. Fetch all pages at
        the same revision before curation or image planning. Content slices
        preserve original text.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArticlePage"
        default:
          description: 400 invalid input; 401/403 authentication/permission; 404 missing;
            409 revision/request conflict; 413 too large; 500/504
            server/timeout.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            maxLength: 36
        - name: offset
          in: query
          required: false
          schema: &a1
            type: integer
            minimum: 0
            default: 0
        - name: block_offset
          in: query
          required: false
          schema: *a1
  /articles:
    get:
      operationId: searchArticles
      summary: Search editable article titles and excerpts, including drafts. Returns
        20 results per page.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Search"
        default:
          description: 400 invalid input; 401/403 authentication/permission; 404 missing;
            409 revision/request conflict; 413 too large; 500/504
            server/timeout.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: q
          in: query
          required: false
          schema:
            type: string
            maxLength: 100
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - all
              - draft
              - published
            default: all
        - name: offset
          in: query
          required: false
          schema: *a1
  /context:
    get:
      operationId: getEditorialContext
      summary: Get existing tags, rating definitions, identity limits and allowed
        image hosts. Reuse matching tags.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Context"
        default:
          description: 400 invalid input; 401/403 authentication/permission; 404 missing;
            409 revision/request conflict; 413 too large; 500/504
            server/timeout.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      parameters:
        - name: q
          in: query
          required: false
          schema:
            type: string
            maxLength: 100
        - name: offset
          in: query
          required: false
          schema: *a1
  /categories:
    get:
      operationId: getCategories
      summary: Get existing category breadcrumbs. Preserve category for old articles;
        omit category_id for new articles if uncertain.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Categories"
        default:
          description: 400 invalid input; 401/403 authentication/permission; 404 missing;
            409 revision/request conflict; 413 too large; 500/504
            server/timeout.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /curate:
    post:
      operationId: curateArticle
      summary: Organize an existing article without rewriting. Tags append by default.
        Reorder all block IDs or split text into exact original substrings.
        Category, type, ratings and cover stay unchanged.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Receipt"
        default:
          description: 400 invalid input; 401/403 authentication/permission; 404 missing;
            409 revision/request conflict; 413 too large; 500/504
            server/timeout.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Curate"
  /save-rated:
    post:
      operationId: saveRatedArticle
      summary: "Create: title, summary, blocks with access_level, rating_reason
        required. Draft by default; status=published publishes. Existing
        article: send ONLY article_ref, expected_revision, request_id, status to
        publish/unpublish."
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Receipt"
        default:
          description: 400 invalid input; 401/403 authentication/permission; 404 missing;
            409 revision/request conflict; 413 too large; 500/504
            server/timeout.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SaveRated"
  /illustrate:
    post:
      operationId: attachArticleImages
      summary: Attach registered images after existing blocks (null=start). Generate
        images externally, then registerImage or upload first. Include
        description, prompt and level. Existing cover is preserved unless
        set_cover=true.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Receipt"
        default:
          description: 400 invalid input; 401/403 authentication/permission; 404 missing;
            409 revision/request conflict; 413 too large; 500/504
            server/timeout.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Illustrate"
  /media:
    post:
      operationId: registerImage
      summary: Import a generated image URL from an allowed HTTPS host into existing
        media storage. No redirects; max 5 MB. Use returned media_id in image
        blocks.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Media"
        default:
          description: 400 invalid input; 401/403 authentication/permission; 404 missing;
            409 revision/request conflict; 413 too large; 500/504
            server/timeout.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                url:
                  type: string
                  maxLength: 4000
              required:
                - url
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
  schemas:
    ArticlePage:
      type: object
      additionalProperties: false
      properties:
        success:
          type: boolean
        article_id:
          type: string
          maxLength: 36
        revision:
          type: string
          maxLength: 64
        status: &a6
          type: string
          enum:
            - draft
            - published
          default: draft
        block_count:
          type: integer
        tags:
          type: array
          items:
            type: string
            maxLength: 80
          maxItems: 500
        visible_access_level: &a2
          type: integer
          minimum: 1
          maximum: 5
          description: 1=P public, 2=G general, 3=M member, 4=A adult, 5=R root. Assess
            each block.
        full_access_level: *a2
        cover_access_level: *a2
        article:
          type: object
          additionalProperties: false
          properties:
            title:
              type: string
              maxLength: 255
            excerpt:
              type:
                - string
                - "null"
            article_type:
              type: string
              maxLength: 20
            category_id:
              type:
                - string
                - "null"
            summary:
              type:
                - string
                - "null"
            metadata:
              $ref: "#/components/schemas/Metadata"
            rating_reason:
              type:
                - string
                - "null"
        blocks:
          type: array
          items:
            type: object
            additionalProperties: false
            properties:
              id:
                type: string
                maxLength: 36
              type:
                type: string
                maxLength: 20
              access_level: *a2
              media_id:
                type:
                  - string
                  - "null"
              order:
                type: integer
              content_json:
                type: string
                maxLength: 8000
              content_offset:
                type: integer
              content_length:
                type: integer
          maxItems: 10
        next:
          type:
            - object
            - "null"
          properties:
            offset:
              type: integer
            block_offset:
              type: integer
        hint:
          type: string
          maxLength: 500
    Categories:
      type: object
      additionalProperties: false
      properties:
        success:
          type: boolean
        count:
          type: integer
        hint:
          type: string
          maxLength: 500
        categories:
          type: array
          items:
            type: object
            additionalProperties: false
            properties:
              id:
                type: string
                maxLength: 36
              name:
                type: string
                maxLength: 255
              parent_id:
                type:
                  - string
                  - "null"
              depth:
                type: integer
              path:
                type: string
                maxLength: 1000
              breadcrumb:
                type: string
                maxLength: 2000
          maxItems: 1000
    Context:
      type: object
      additionalProperties: false
      properties:
        success:
          type: boolean
        tags:
          type: array
          items:
            type: string
            maxLength: 80
          maxItems: 30
        next_offset:
          type:
            - integer
            - "null"
        identity:
          type: object
          additionalProperties: false
          properties:
            role:
              type: string
              maxLength: 20
            max_access_level: *a2
        image_allowed_hosts:
          type: array
          items:
            type: string
            maxLength: 255
          maxItems: 100
        rating_policy:
          type: object
          additionalProperties: false
          properties:
            version:
              type: string
              maxLength: 80
            levels:
              type: array
              items:
                type: object
                additionalProperties: false
                properties:
                  value: *a2
                  label:
                    type: string
                    maxLength: 2
                  meaning:
                    type: string
                    maxLength: 100
              maxItems: 5
            guidance:
              type: string
              maxLength: 1000
    Curate:
      type: object
      additionalProperties: false
      properties:
        article_ref: &a3
          type: string
          maxLength: 2048
          description: Article ID or same-site /article/{id} URL.
        request_id: &a4
          type: string
          maxLength: 80
          description: Unique request identifier. Retry identical input with the SAME ID;
            use a new ID for a new edit.
          pattern: ^[\w-]+$
        expected_revision: &a5
          type: string
          maxLength: 64
          description: Revision from getArticle. On 409, reread before editing.
        tags:
          type: array
          items:
            type: string
            maxLength: 80
          maxItems: 10
        tag_mode:
          type: string
          enum:
            - append
            - replace
          default: append
        summary:
          type: string
          maxLength: 2000
          description: Short neutral summary. Also supplies excerpt when excerpt is omitted.
        excerpt:
          type: string
          maxLength: 500
        metadata:
          $ref: "#/components/schemas/Metadata"
        block_order:
          type: array
          items:
            type: string
            maxLength: 36
          maxItems: 500
        block_splits:
          type: array
          items:
            type: object
            additionalProperties: false
            properties:
              block_id:
                type: string
                maxLength: 36
              parts:
                type: array
                items:
                  type: string
                  maxLength: 60000
                maxItems: 20
            required:
              - block_id
              - parts
          maxItems: 20
      required:
        - article_ref
        - request_id
        - expected_revision
    Error:
      type: object
      additionalProperties: false
      properties:
        success:
          type: boolean
        error:
          type: string
          maxLength: 2000
    Illustrate:
      type: object
      additionalProperties: false
      properties:
        article_ref: *a3
        request_id: *a4
        expected_revision: *a5
        images:
          type: array
          items:
            $ref: "#/components/schemas/ImagePlacement"
          maxItems: 5
          minItems: 1
      required:
        - article_ref
        - request_id
        - expected_revision
        - images
    ImagePlacement:
      type: object
      additionalProperties: false
      properties:
        media_id:
          type: string
          maxLength: 36
        after_block_id:
          type:
            - string
            - "null"
          maxLength: 36
          description: Existing anchor block ID; null inserts at start.
        title:
          type: string
          maxLength: 255
        description:
          type: string
          maxLength: 2000
        prompt:
          type: string
          maxLength: 2000
        access_level: *a2
        set_cover:
          type: boolean
          default: false
      required:
        - media_id
        - after_block_id
        - description
        - access_level
    Media:
      type: object
      additionalProperties: false
      properties:
        success:
          type: boolean
        media_id:
          type: string
          maxLength: 36
        url:
          type: string
          maxLength: 4000
    Metadata:
      type: object
      additionalProperties: false
      properties:
        source_url:
          type: string
          maxLength: 2000
        language:
          type: string
          maxLength: 35
        description:
          type: string
          maxLength: 2000
    RatedBlock:
      type: object
      additionalProperties: false
      properties:
        type:
          type: string
          enum:
            - text
            - code
            - image
        content:
          type: string
          maxLength: 60000
        language:
          type: string
          maxLength: 80
        media_id:
          type: string
          maxLength: 36
        title:
          type: string
          maxLength: 255
        description:
          type: string
          maxLength: 2000
        access_level: *a2
      required:
        - type
        - access_level
    Receipt:
      type: object
      additionalProperties: false
      properties:
        success:
          type: boolean
        article_id:
          type: string
          maxLength: 36
        revision:
          type: string
          maxLength: 64
        status: *a6
        block_count:
          type: integer
        tags:
          type: array
          items:
            type: string
            maxLength: 80
          maxItems: 500
        visible_access_level: *a2
        full_access_level: *a2
        cover_access_level: *a2
        added_block_ids:
          type: array
          items:
            type: string
            maxLength: 36
          maxItems: 5
    SaveRated:
      type: object
      additionalProperties: false
      properties:
        request_id: *a4
        article_ref: *a3
        expected_revision: *a5
        title:
          type: string
          maxLength: 255
        summary:
          type: string
          maxLength: 2000
        excerpt:
          type: string
          maxLength: 500
        tags:
          type: array
          items:
            type: string
            maxLength: 80
          maxItems: 10
        category_id:
          type: string
          maxLength: 36
        article_type:
          type: string
          enum:
            - default
            - text
            - image
            - code
            - diary
            - drawing
          default: text
        blocks:
          type: array
          items:
            $ref: "#/components/schemas/RatedBlock"
          maxItems: 80
          minItems: 1
        status: *a6
        rating_reason:
          type: string
          maxLength: 2000
        metadata:
          $ref: "#/components/schemas/Metadata"
      required:
        - request_id
    Search:
      type: object
      additionalProperties: false
      properties:
        success:
          type: boolean
        articles:
          type: array
          items:
            type: object
            additionalProperties: false
            properties:
              id:
                type: string
                maxLength: 36
              title:
                type: string
                maxLength: 255
              excerpt:
                type:
                  - string
                  - "null"
              status: *a6
              type:
                type: string
                maxLength: 20
              category_id:
                type:
                  - string
                  - "null"
          maxItems: 20
        next_offset:
          type:
            - integer
            - "null"
